#console {
  display : block;
  position : absolute;
  top : 0;
  left : 0;
  height : 100%;
  width : 20%;
  overflow: scroll;
}

#workfield {
  display : block;
  position : absolute;
  top : 0;
  left : 20%;
  height : 100%;
  width: 80%;
  overflow : hidden;
}

#render {
  display : block;
  position : absolute;
  top : 0;
  left : 0;
}
